body {
    /* Work with other css to display the map in a full screen on the mobile view */
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Work with other css to display the map in a full screen on the mobile view */
.fl-mapviz-outer-container {
    flex-grow: 1;
}

/******** Base styles ********/
h2 {
    font-size: 1.5rem;
    font-weight: 700;
}

h3,
.h3 {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.35rem;
}

/******** Shared selectors ********/

/* For all hoverable elements */
.fl-mapviz-hoverable-focusable:focus,
.fl-mapviz-hoverable-focusable:hover {
    outline: 1px solid #000;
    outline-offset: 1px;
}

.fl-mapviz-icon-shadow {
    align-items: center;
    align-self: center;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25) inset;
    display: flex;
    height: 1.5rem;
    justify-content: center;
    margin-right: 0.7rem;
    width: 1.5rem;
}

.fl-mapviz-icon-shadow svg {
    height: 0.8rem;
    width: 0.8rem;
}

/******** Override leaflet.css ********/

/** Override this from leaflet.css so that the autocomplete dropdown doesn't pop behind it **/
.leaflet-pane {
    z-index: 0;
}

/** Override the copyright section from leaflet.css so that it doesn't pop in front of popup panels on the mobile view **/
.leaflet-top,
.leaflet-bottom {
    z-index: 0;
}

/** Override the leaflet.css so that the zoom buttons shows below the search box on the mobile design **/
.leaflet-control-container div:nth-child(1) {
    z-index: 0;
}

.leaflet-control-container .leaflet-control-zoom {
    margin-top: 3rem;
    z-index: 0;
}

.leaflet-control-container .leaflet-control-zoom a:hover,
.leaflet-control-container .leaflet-control-zoom a:focus {
    box-shadow: 0 0 0 1px black inset;
}

.leaflet-control-container .leaflet-control-zoom a:active {
    background-color: black;
    color: white;
}

/******** Override accessible-autocomplete.css ********/
.fl-mapviz-query-holder input.autocomplete__input--focused {
    box-shadow: none;
    outline: none;
}

/******** The main panel **********/
.fl-mapviz-container {
    display: flex;
    flex-direction: column;
    font-size: 0.875rem;

    /* Work with other css to display the map in a full screen on the mobile view */
    height: 100%;
    width: 100%;
}

/******** The panel with the query label, the query input **********/
.fl-mapviz-query-label {
    display: none;
}

/* Contains both the search label and the filter control div */
.fl-mapviz-query-wrapper {
    position: absolute;
    width: 100%;
    z-index: 999;
}

.fl-mapviz-query-wrapper svg {
    height: 1.5rem;
    padding-top: 0.7rem;
    position: absolute;
    width: 1.5rem;
}

.fl-mapviz-query-holder {
    margin: 0.5rem;
}

.fl-mapviz-query-holder input {
    border: 1px solid black;
    border-radius: 1.5rem;
    height: 2rem;
    padding-left: 2.5rem;
    width: 100%;
}

/** This markup is injected by the autocomplete widget **/
.fl-mapviz-query-holder ul {
    margin-block-end: 0;
    margin-block-start: 0;
}

/** The reset icon in the query box **/
.fl-mapviz-query-reset-holder {
    position: relative;
}

.fl-mapviz-query-reset {
    height: 1rem;
    position: absolute;
    right: 0.7rem;
    top: 0.5rem;
    z-index: 900;
}

.fl-mapviz-query-reset svg {
    height: 1rem;
    width: 1rem;
}

.fl-mapviz-query-label-holder svg {
    left: 1.2rem;
    margin-right: -2.5rem;
    top: 0.15rem;
}

/******** The accessibility filters panel **********/
.fl-mapviz-filter-count-holder-on-desktop {
    display: none;
}

.fl-mapviz-filter-panel {
    max-width: 100%;
}

.fl-mapviz-filter-panel-title {
    display: flex;
    flex-direction: row;
}

.fl-mapviz-filter-panel h2 {
    margin: 1rem 0;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    text-transform: uppercase;
}

/* All a11y feature list */
.fl-mapviz-filters {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    overflow-y: scroll;
    padding: 0;
}

/* Individual a11y feature */
.fl-mapviz-filter {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 6rem;
    justify-content: center;
}

/* The icon for each a11y feature */
.fl-mapviz-filter-icon {
    height: 3rem;
    padding: 0.3rem;
    width: 3rem;
}

/* The tooltip icon for each a11y feature */
.tooltip-svg-internal-char-class {
    fill: var(--tooltip-char-color, black);
}

.tooltip-svg-internal-bg-class {
    fill: var(--tooltip-bg-color, transparent);
    stroke: var(--tooltip-bg-stroke-color, black);
}

.fl-mapviz-filter-tooltip-icon {
    height: 1.3rem;
    margin-bottom: 3.125rem;
    width: 1.3rem;
}

.fl-mapviz-filter-tooltip-icon:active {
    --tooltip-char-color: white;
    --tooltip-bg-color: black;
}

.fl-mapviz-filter-tooltip-icon svg {
    height: 1.25rem;
    width: 1.25rem;
}

/* The title of each a11y feature */
.fl-mapviz-filter-title {
    display: inline-block;
    font-stretch: condensed;
    font-style: normal;
    text-transform: uppercase;
    width: 15rem;
}

/* The checkbox for each a11y feature */

.fl-checkbox-holder {
    margin-right: 0.5rem;
}

.fl-checkbox-holder > span {
    border: 2px solid black;
    box-sizing: border-box;
    display: inline-block;
    height: 2rem;
    position: relative;
    vertical-align: middle;
    width: 2rem;
}

.fl-checkbox-holder > span:hover,
.fl-checkbox-holder > input:focus + span {
    outline: 1px solid #000;
    outline-offset: 2px;
}

.fl-checkbox-holder > input {
    -webkit-appearance: none;
    appearance: none;
}

.fl-checkbox-holder svg {
    /** The checkbox is not quite correctly sized and doesn't fill its box **/
    height: 2rem;
    left: -0.125rem;

    /** On Firefox, the SVG will take up an unpredictable amount of extra space in the layout **/
    position: absolute;
    top: -0.125rem;
    width: 2rem;
}

.fl-checkbox-holder input:not(:checked) + span .fl-checkbox-selected {
    display: none;
}

/* The parent container of filter buttons */
.fl-mapviz-filter-buttons {
    display: flex;
    justify-content: space-evenly;
}

/* "apply filters" and "reset filters" buttons */
.fl-mapviz-apply-filters,
.fl-mapviz-reset-filters {
    align-items: center;
    background-color: transparent;
    border-style: none;
    display: inline-flex;
    height: 3rem;
    width: 11rem;
}

.fl-mapviz-apply-filters svg,
.fl-mapviz-reset-filters svg {
    fill: none;
    height: 1rem;
    width: 1rem;
}

.fl-mapviz-apply-filters span,
.fl-mapviz-reset-filters span {
    display: inline-flex;
}

.fl-mapviz-apply-filters:hover .fl-mapviz-icon-shadow,
.fl-mapviz-apply-filters:focus .fl-mapviz-icon-shadow,
.fl-mapviz-reset-filters:hover .fl-mapviz-icon-shadow,
.fl-mapviz-reset-filters:focus .fl-mapviz-icon-shadow {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25) inset, 0 0 0 1px black;
}

/******** Expand/collapse button for the city list panel, the search results panel and the a11y filter panel ********/
.fl-mapviz-expand-collapse-button-wrapper {
    background-color: #c4c4c4;
    border-radius: 1rem 1rem 0 0;
    display: flex;
    justify-content: center;
}

.fl-mapviz-expand-collapse-button-holder {
    align-self: center;
    background: none;
    border: none;
    margin: 0.5rem 0 0.5rem 0;
    width: 4rem;
}

.fl-mapviz-expand-collapse-button-holder svg {
    height: 0.7rem;
    width: 1.4rem;
}

.expand-collapse-svg-internal-class {
    fill: var(--expand-button-color, none);
    stroke: var(--expand-button-stroke-color, black);
    stroke-width: var(--expand-button-stroke-width, 2px);
}

.fl-mapviz-expand-collapse-button-holder:hover,
.fl-mapviz-expand-collapse-button-holder:focus {
    --expand-button-color: black;
    --expand-button-stroke-width: 0;
}

/* When the city list/search results panel is collapsed, hide all relevant elements */
.fl-mapviz-expand-collapse-button-holder[aria-expanded="true"] > .fl-mapviz-expand-button,
.fl-mapviz-expand-collapse-button-holder[aria-expanded="false"] > .fl-mapviz-collapse-button,
.fl-mapviz-expand-collapse-button-holder[aria-expanded="false"] ~ .fl-mapviz-search-results-list {
    display: none;
}

/******** The city list panel ********/
.fl-mapviz-city-list-title {
    align-items: center;
    box-shadow: inset 0 -7px 2px -4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.5rem 2rem;
}

.fl-mapviz-city-list-title h2 {
    margin: 0 1rem 0 0;
    text-transform: uppercase;
}

.fl-mapviz-city-list-title svg {
    height: 1.5rem;
    width: 1.5rem;
}

.fl-mapviz-cities {
    overflow-y: scroll;
}

/******** The search results panel ********/
.fl-mapviz-search-results,
.fl-mapviz-filter-panel,
.fl-mapviz-city-list {
    background-color: white;
    border-radius: 1rem 1rem 0 0;
    bottom: 3.1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    max-height: calc(100% - 16rem);
    position: fixed;
    width: 100%;
    z-index: 1;
}

/* The expand/collapse button and the panel heading */
.fl-mapviz-back-button-wrapper {
    background-color: #acdeeb;
}

.fl-mapviz-back-button {
    align-self: center;
    background-color: #acdeeb;
    border: none;
    display: inline-flex;
    justify-content: center;
    padding: 0.5rem 0 0.5rem 0.5rem;
    width: 100%;
}

.fl-mapviz-back-button svg {
    height: 1rem;
    width: 1rem;
}

.fl-mapviz-back-button h2 {
    align-self: center;
    margin: 0;
}

.fl-mapviz-back-button:hover .fl-mapviz-icon-shadow,
.fl-mapviz-back-button:focus .fl-mapviz-icon-shadow {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25) inset, 0 0 0 1px black;
}

/* Search result list */
.fl-mapviz-search-results-list {
    /* This list takes up the remaining space whenever there's any */
    flex-grow: 1;
    overflow-y: scroll;
}

/* For individual search result */
.fl-mapviz-search-result {
    border-bottom: 1px solid #c4c4c4;
    padding: 0.5rem 0.5rem;
}

/* For individual city */
.fl-mapviz-city {
    border-bottom: 1px solid #c4c4c4;
    height: 2rem;
    margin-left: 0.5rem;
    padding: 0.5rem 0.5rem;
}

.fl-mapviz-search-result .fl-mapviz-hospital-title {
    font-weight: 700;
}

/* The hover style for each search result */
.fl-mapviz-search-result-hover {
    outline: 2px solid #55769f;
    outline-offset: -2px;
}

/* The selected style for the search result */
.fl-mapviz-search-result-selected {
    background: #fbdc90;
}

/******** The hosptial description panel ********/
.fl-mapviz-hospital-panel {
    /* hide the hospital description panel at the page load */

    display: none;
}

.fl-mapviz-hospital-panel > div {
    padding: 0.3rem;
}

.fl-mapviz-hospital-panel .fl-mapviz-hospital-title {
    background: #fbdc90;
    font-size: 2.2rem;
    padding: 0.5rem;
}

/******** The panel control buttons ********/
.fl-panel-controls-on-mobile {
    box-shadow: inset 0 7px 2px -4px rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 3rem;
    padding-top: 3px;
}

.fl-panel-controls-on-mobile svg {
    height: 1rem;
    width: 1rem;
}

.fl-mapviz-locations-control,
.fl-mapviz-filter-control-on-mobile {
    background-color: white;
    border: none;
}

.fl-mapviz-filter-control-on-mobile {
    border-left: 1px solid #c4c4c4;
}

.fl-mapviz-filter-control-on-mobile .fl-mapviz-filter-control-icon-on-mobile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0.3rem;
}

.fl-mapviz-filter-control-on-mobile .fl-mapviz-filter-control-icon-on-mobile svg {
    margin-right: 0.5rem;
}

/** Background for each a11y filter row **/
.fl-mapviz-filter-entrances {
    background: #6796c8;
}

.fl-mapviz-filter-washrooms {
    background: #acdeeb;
}

.fl-mapviz-filter-parking {
    background: #cee6c5;
}

.fl-mapviz-filter-individual {
    background: #fbdc90;
}

.fl-mapviz-filter-wait {
    background: #fcb33f;
}

/******** The map panel ********/
.fl-mapviz-map {
    height: 100%;
    width: 100%;
}

/* The map tooltip pane */
.fl-mapviz-map-tooltip {
    background-color: white;
    border: 1px solid black;
    font-size: 0.9rem;
    position: absolute;
    right: 1.25rem;
    top: 1.25rem;
    width: 20rem;
    z-index: 800;
}

.fl-mapviz-map-tooltip tr:nth-child(even) {
    background: #eee;
}

.fl-mapviz-map-tooltip tr:nth-child(odd) {
    background: #fff;
}

.fl-mapviz-map-tooltip table {
    border-collapse: collapse;
}

@media screen and (min-width: 1024px) {
    /******** Base styles ********/
    h2 {
        font-size: 2.1875rem;
    }

    h3,
    .h3 {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }

    /******** Shared selectors ********/
    .fl-mapviz-icon-shadow {
        height: 2rem;
        width: 2rem;
    }

    .fl-mapviz-icon-shadow svg {
        height: 1rem;
        width: 1rem;
    }

    /** Override the leaflet.css so that the zoom buttons shows below the search box on the mobile design **/
    .leaflet-control-container .leaflet-control-zoom {
        margin-top: 1rem;
    }

    /******** The main container holding all 3 panels: map, a11y feature list and search results ********/

    /* Start: arrange positions of sub containers */
    .fl-mapviz-container {
        display: grid;
        font-size: 1.125rem;
        grid-template-columns: 1fr 2fr 1fr;
        height: 42rem;
    }

    .fl-mapviz-query-wrapper {
        align-items: center;
        border-bottom: 1px solid #e5e5e5;
        display: flex;
        flex-direction: row;
        grid-column-end: 4;
        grid-column-start: 1;
        grid-row-end: 2;
        grid-row-start: 1;
        height: 3rem;
        padding: 0.5rem 0;

        /* Override the mobile css */
        position: relative;
        width: 100%;
    }

    .fl-mapviz-filter-panel {
        display: block;
        grid-column-end: 4;
        grid-column-start: 3;
        grid-row-end: 3;
        grid-row-start: 2;

        /* Override the mobile css */
        position: inherit;
    }

    .fl-mapviz-city-list,
    .fl-mapviz-search-results {
        border-radius: 0;
        grid-column-end: 2;
        grid-column-start: 1;
        grid-row-end: 3;
        grid-row-start: 2;
        height: 40rem;

        /* Override the mobile css */
        max-height: inherit;
        position: inherit;
    }

    .fl-mapviz-map {
        grid-column-end: 3;
        grid-column-start: 2;
        grid-row-end: 3;
        grid-row-start: 2;

        /* Override the mobile css */
        height: 40rem;
    }

    .fl-mapviz-hospital-panel {
        grid-column-end: 4;
        grid-column-start: 1;
        grid-row-end: 4;
        grid-row-start: 3;
        margin-top: 0.3rem;
    }

    /* End: arrange positions of sub containers */

    /******** The panel with the query label, the query input box **********/

    /* The query label */
    .fl-mapviz-query-label {
        display: block;
        margin: 0 1rem;
    }

    .fl-mapviz-query-wrapper svg {
        padding-top: 0;
        position: relative;
    }

    /* The query input box */
    .fl-mapviz-query-holder {
        flex-grow: 2;
        margin-right: 2rem;
    }

    /******** The accessibility filters panel **********/

    /* The a11y filter count */
    .fl-mapviz-filter-count-holder-on-desktop {
        align-items: center;
        align-self: center;
        border-radius: 50%;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: row;
        height: 3.5rem;
        justify-content: center;
        margin-right: 0.7rem;
        width: 3.5rem;
    }

    .fl-mapviz-filter-panel-title {
        margin-left: 1rem;
    }

    .fl-mapviz-filter-count-holder-on-desktop .fl-mapviz-filter-count-on-desktop {
        margin: 0 0.5rem;
    }

    .fl-mapviz-filter-count-holder-on-desktop svg {
        height: 2rem;
        margin-left: 0.5rem;
        width: 1.5rem;
    }

    /* The a11y filter list */
    .fl-mapviz-filter-tooltip-icon {
        margin-right: 0.5rem;
    }

    .fl-mapviz-apply-filters,
    .fl-mapviz-reset-filters {
        margin: 0.5rem;
    }

    /******** Expand/collapse button for the city list and the search results panels ********/
    .fl-mapviz-expand-collapse-button-holder {
        display: none;
    }

    .fl-mapviz-expand-collapse-button-holder[aria-expanded="false"] ~ .fl-mapviz-search-results-list {
        display: block;
    }

    /******** The city list panel ********/
    .fl-mapviz-city-list-title {
        justify-content: space-between;
    }

    .fl-mapviz-city {
        font-size: 1.5rem;
    }

    /******** The search results panel ********/
    .fl-mapviz-search-results {
        height: 40rem;
        margin-right: 1rem;
    }

    .fl-mapviz-back-button {
        justify-content: left;
    }

    /******** The panel control buttons ********/
    .fl-panel-controls-on-mobile {
        display: none;
    }
}
